.search-bar-style
{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}


.search-bar-style input {
  width: 400px;
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar-style input:focus {
  border-color: #0077ff;
  box-shadow: 0 2px 8px rgba(0, 119, 255, 0.3);
}
